@font-face {
    font-family: 'ancient';
    src: url('../fonts/ancient-webfont.woff2') format('woff2'),
         url('../fonts/ancient-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;    
    background-color: rgb(63, 56, 56);
    margin: 40px;
    font-family: ancient;    
    font-weight: 450;
    font-size: xx-large;
}

